    - pattern: (\w*)peer0.$ORG.DOMAIN(\w*)
      urlSubstitutionExp: peer0.$ORG.DOMAIN:7051
      eventUrlSubstitutionExp: peer0.$ORG.DOMAIN:7053
      sslTargetOverrideUrlSubstitutionExp: peer0.$ORG.DOMAIN
      mappedHost: peer0.$ORG.DOMAIN
