  peer0.$ORG.DOMAIN:
    # this URL is used to send endorsement and query requests
    url: peer0.$ORG.DOMAIN:7051
    # eventUrl is only needed when using eventhub (default is delivery service)
    eventUrl: peer0.$ORG.DOMAIN:7053

    grpcOptions:
      ssl-target-name-override: peer0.$ORG.DOMAIN
      # These parameters should be set in coordination with the keepalive policy on the server,
      # as incompatible settings can result in closing of connection.
      # When duration of the 'keep-alive-time' is set to 0 or less the keep alive client parameters are disabled
      keep-alive-time: 0s
      keep-alive-timeout: 20s
      keep-alive-permit: false
      fail-fast: false
      # allow-insecure will be taken into consideration if address has no protocol defined, if true then grpc or else grpcs
      allow-insecure: false

    tlsCACerts:
      # Certificate location absolute path
      path: ./crypto-config/peerOrganizations/$ORG.DOMAIN/tlsca/tlsca.$ORG.DOMAIN-cert.pem