$color-primary: #1B263C;
$color-secondary: #69D7BC;
$color-secondary-dark: #3FBEA5;

$color-txt: $color-primary;
$color-txt-light: #D3DAE0;

$ff-primary: 'Proxima Nova', sans-serif;

$fs-smaller: 12px;
$fs-normal: 14px;
$fs-bigger: 16px;
$fs-big: 18px;

$fw-normal: 300;
$fw-bold: 500;

$color-bg-gray: #F8F9FA;
$color-border: #D3DAE0;
$box-shadow: 0px 1px 9px rgba(27, 38, 60, 0.18);